.Card_front {
  background-color: aquamarine;
  height: 19rem;
  width: 18rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 6px;
  font-size: xxx-large;
}

.Card_back {
  background-color: royalblue;
  height: 19rem;
  width: 18rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 6px;
  font-size: xxx-large;
}

.Flip_card {
  position: absolute;
  bottom: 1rem;
}

.Card_movement {
  width: 34rem;
    margin: 3rem auto;
}

.disable {
  pointer-events: none;
}

.active {
  pointer-events: auto;
}