.App {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
}

ul li {
  list-style: none;
}

.links {
  text-decoration: none !important;
}

.active {
  text-decoration: underline;
  color: red;
  font-size: larger;
}
