.App {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
}

ul li {
  list-style: none;
}

.links {
  text-decoration: none !important;
}

.active {
  text-decoration: underline;
  color: red;
  font-size: larger;
}

.hover:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;
  font-size: larger;
}

.Navigation {
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 0;

  background-image: linear-gradient(
    to right,
    hsl(211, 100%, 50%),
    hsl(179, 100%, 30%)
  );
  transition: background-image 0.5s linear;
}

.Navigation li {
  width: 100px;
}

.App_container {
  /* background-image: url(/static/media/background.66911c37.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
}